@page "/movie/{id:int}"
@inject TMDBClient TMDB

@if(movieDetails is null)
{
    <p><em>Loading...</em></p>
}
else{
    <PageTitle>@movieDetails.Title</PageTitle>

    <div class="mx-auto container h-full">
        <div class="grid md:grid-cols-3 h-full p-2 md:p-4">
        <div class="order-last md:order-first md:col-span-2 h-full">
            <div class="flex-grow flex items-center justify-center md:justify-start">
                <div class="title-container text-center md:text-start p-2">
                    <h1 class="text-5xl">@movieDetails.Title</h1>
                    <h2 class="text-lg">@movieDetails.Tagline</h2>
                    <div class="grid place-content-center md:place-content-start">
                        <div class="grid grid-cols-3 badge rounded-lg py-6 px-4 place-items-center place-content-center bg-base-200">
                        <div class="grid">

                            @if (DateTime.TryParse(movieDetails.ReleaseDate, out DateTime releaseDate))
                            {
                                <span>Release Date</span>
                                <span class="">@releaseDate.ToString("MMMM yyyy")</span>
                            }
                        </div>
                        @{
                            var runtime = $"{movieDetails.Runtime / 60}h {movieDetails.Runtime % 60}m";
                            var rating = (movieDetails.VoteAverage * 10).ToString("F1");
                        }
                        <div class="grid">
                            <span>Length</span>
                            <span class="">@runtime</span>
                        </div>
                       <div class="grid">
                           <span>Rating</span>
                            <span class="">@rating%</span>
                       </div>                      
                    </div>
                    </div>                    
                    <div class="movie-links">
                        <div class="flex justify-center md:justify-start gap-2 p-3">
                            @if (!string.IsNullOrWhiteSpace(movieDetails.Homepage))
                            {
                                <a href="@movieDetails.Homepage" target="_blank" class="btn btn-primary rounded-full">Website</a>
                            }
                            @if (!string.IsNullOrWhiteSpace(movieDetails.ImdbId))
                            {
                                <a href="@($"https://www.imdb.com/title/{movieDetails.ImdbId}")" target="_blank" class="btn btn-warning rounded-full ml-2">IMDB</a>
                            }
                        </div>
                    </div>
                    <div class="p-4 md:p-2">
                        <p class="text-justify">@movieDetails.Overview</p>
                        <p><strong class="text-lg h1">Genres:</strong> @string.Join(", ", movieDetails.Genres.Select(g => g.Name))</p>
                        <p><strong class="text-lg h1">Languages:</strong> @string.Join(", ", movieDetails.SpokenLanguages.Select(g => g.Name))</p>
                        <p><strong class="text-lg h1">Original Language:</strong> @movieDetails.OriginalLanguage</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-full">
            <div class="hidden md:flex justify-center items-center h-full">
                <div>
                    @if (string.IsNullOrEmpty(movieDetails.PosterPath))
                    {
                        <img src="images/PosterPlaceHolder.png" alt="Movie Poster" class="w-100 h-100 object-cover rounded-lg shadow-lg" />
                    }
                    else
                    {
                        <img src="@($"https://image.tmdb.org/t/p/w400{movieDetails.PosterPath}")" alt="@movieDetails.Title" class="rounded-lg" />
                    }
                </div>
            </div>
            <div class="md:hidden flex justify-center items-center h-full">
                <div>
                    @if (string.IsNullOrEmpty(movieDetails.PosterPath))
                    {
                        <img src="images/PosterPlaceHolder.png" alt="Movie Poster" class="w-100 h-100 object-cover rounded-lg shadow-lg" />
                    }
                    else
                    {
                        <img src="@($"https://image.tmdb.org/t/p/w300{movieDetails.PosterPath}")" alt="@movieDetails.Title" class="rounded-lg" />
                    }
                </div>
            </div>
        </div>
    </div>
    </div>   
}


@code {
    [Parameter]
    public int Id { get; set; }

    private MovieDetails? movieDetails;

    protected override async Task OnInitializedAsync()
    {
        movieDetails = await TMDB.GetMovieDetailsAsync(Id);
    }
}
